venv
__pycache__/
dirtbag/self-hosted/api/static/index.html
nohup.out
.idea
dirtbag/self-hosted/api/config/secret.json
.vscode
.terraform
*.zip
secret_vars.tf
dirtbag/cloud-hosted/infra/terraform/modules/dirtbag-aws/lambda/plotly-layer/python/
**/config.json