Adafruit-Blinka==4.7.0
adafruit-circuitpython-busdevice==4.3.1
adafruit-circuitpython-seesaw==1.6.1
Adafruit-PlatformDetect==2.8.0
Adafruit-PureIO==1.1.5
APScheduler==3.6.3
pkg-resources==0.0.0
pyftdi==0.51.0
pyserial==3.4
pytz==2020.1
pyusb==1.0.2
rpi-ws281x==4.2.3
RPi.GPIO==0.7.0
six==1.14.0
sysv-ipc==1.0.1
tzlocal==2.0.0
