Adafruit-bitfield==1.5.1
Adafruit-Blinka==4.4.0
adafruit-circuitpython-busdevice==4.3.1
adafruit-circuitpython-seesaw==1.6.1
Adafruit-GPIO==1.0.3
Adafruit-PlatformDetect==2.6.0
Adafruit-PureIO==1.1.4
APScheduler==3.6.3
click==7.1.1
Flask==1.1.2
itsdangerous==1.1.0
Jinja2==2.11.2
MarkupSafe==1.1.1
plotly==4.6.0
psycopg2==2.8.5
pyftdi==0.50.1
pyserial==3.4
pytz==2019.3
pyusb==1.0.2
retrying==1.3.3
rpi-ws281x==4.2.3
RPi.GPIO==0.7.0
six==1.14.0
spidev==3.4
sysv-ipc==1.0.1
tzlocal==2.0.0
Werkzeug==1.0.1
